body {
  padding: 50px;
  font-family: Helvetica;
}

.stats {
  font-size: 1.2em;
  text-align: center;
}

.stats a {
  display: block;
  float:   left;
  width: 150px;
  padding: 15px;
  border:  1px solid gray;
  margin-right: 20px;
}

.stats .number {
  font-size: 2em;
}

.stats .number .units {
  font-size: 0.5em;
}
